@use 'variaveis';
.filmes{
  width: 100%;
  height: 70vh;

  &__text{
    color: variaveis.$corDosTextos;
    margin-top:30% ;
    text-align: center;
    align-items: center;
    letter-spacing: .5rem;
  }
}