.footer{
  padding: 0px 0px 80px;
  padding-left: 18%;
  @media (max-width:768px){
  text-align: center;
  padding-left: 0;
  align-items: center;
   padding-bottom: 40px;

  }
  &__text{
    color: rgba(255, 255, 255, 0.56);
    text-align: normal;
    font-size:18px;
    letter-spacing: 0.05rem;
    @media (max-width:768px){
      font-size: 13px;
      padding: 0 24px;

    }
    a{
      color:rgba(255, 255, 255, 0.56) ;
      margin-left: 5px;
    }
  }
}