  @use 'variaveis';
.lancamentos__container{
  padding-bottom: 40px;
  &__filmes{
    color: variaveis.$corDosTextos;
    font-size: 18px;
    padding: 30px;
    @media (min-width:768px) and (max-width:992px){
    font-size: 30px;
    padding: 50px;
    }
    a{
      color:variaveis.$corDosBotaos ;
    }
  }
  &__list{
    display: flex;
    
    &__item{
      width: 100%;
      padding-left: 8px;
      
     
      img{
        width: 100%;
        border-radius: 8px;
        @media (max-width:768px){
          width: 100%;
        }
        @media (max-width:992px){
          width:100%;
          
        }
        @media (max-width:1082px){
          width:100%;
          
        }
        @media (max-width:1515){
          width:100%;
          
        }
      }
      

    }
  }

  

}