@use 'variaveis';
.nav{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.341);
  padding-bottom: 8px;
  align-items: center;
  width: 100%;
 
  img{
    height: 50px;
    @media (min-width:768px) and (max-width:992px){
      height: 70px;
    }
  }
  &__list{
    padding-right: 18px;
    &__item{
      display: inline;
      margin-left: 10px;
      font-size: 12px;
      background-color:  variaveis.$corDosBotaos;
      padding: 10px;
      border-radius: 8px;
      @media (min-width:768px) and (max-width:992px){
        font-size: 20px;
      }
      a{
        color: variaveis.$corDosTextos;
      }
    }
  }


}