@use 'variaveis';
body{
  font-family: 'Belanosima', sans-serif;
  background-color: variaveis.$corDeFundo;
}
.producao{
  padding-top: 30px;
  &__container{
    text-align: center;
    padding: 20px;
    &__title{
      color: variaveis.$corDosTextos;
      padding-bottom: 20px;
      font-size: 28px;
    }
    &__text{
      color: variaveis.$corDosTextosNemosfoque;
      letter-spacing: 1px;
      text-align: justify;
      line-height: 1.5em;

    }
    &__title1{
      color: variaveis.$corDosTextos;
      padding-bottom: 10px;
      font-size: 20px;
    }
    &__title2{
      color: variaveis.$corDosTextos;
      font-size: 16px;
      padding-bottom: 20px;
      
    }
    img{
      width: 270px;
      padding: 30px 0;
    }
  }

}