@use 'variaveis';
.sobre{
  padding: 30px;
  &__container{
    text-align: center;
    letter-spacing: 1px;
    &__title{
      color: variaveis.$corDosTextos ;
      font-size: 25px;
      padding: 30px 0;
      @media (min-width:768px) and (max-width:992px){
        font-size: 60px;
        padding: 50px 0;
        
      }
      @media (min-width:993px) and (max-width:1600px){
        font-size: 70px;
        padding: 60px;
      }
      span{
        padding-bottom: 9px;
        border-bottom: 3px solid variaveis.$corDosTextos;
        @media (min-width:768px) and (max-width:992px){
          border-bottom: 4px solid variaveis.$corDosTextos;
        }
        @media (min-width:993px) and (max-width:1600px){
          border-bottom: 5px solid variaveis.$corDosTextos;
        }
      }
    }
    &__text{
      color: variaveis.$corDosTextosNemosfoque;
      @media (min-width:768px) and (max-width:992px){
        font-size: 20px;
        letter-spacing: .8px;
      line-height: 1.5em;
      }
      @media (min-width:993px) and (max-width:1600px){
        width: 800px;
        margin: auto;
        font-size: 25px;
        letter-spacing: .8px;
      line-height: 1.5em;
      }

    }
    a{
      color:variaveis.$corDosBotaos ;
      padding: 20px;
      font-size: 20px;
      @media (min-width:768px) and (max-width:992px){
        font-size: 30px;
        padding: 50px;
        
      }
      @media (min-width:993px) and (max-width:1600px){
        padding: 50px;
        font-size: 35px;
      }
    }
  }
  
}