@use 'variaveis';
.footer{
  width: 100%;
  padding: 100px 30px 30px;
  text-align: center;
  background-color: variaveis.$corDeFundo;

  &__list{
    width: 90%;
    margin: auto;
    &__item{
      display: inline;
      margin: 5px 5px;
     a{
      
      color:variaveis.$corDosTextosNemosfoque;
     }
    }
  }
  &__text{
    color:variaveis.$corDosTextosNemosfoque;
    padding-bottom: 5px;
  }
}