@use 'header';
@use 'variaveis';
@use 'lancamentos';
@use 'sobre';
@use 'section';
@use 'form';
@use 'footer';
@use 'pagina2';
@use 'dono';

body{
  background-color: variaveis.$cordDeFundo;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Belanosima', sans-serif;
text-align: none;
}

.header{
  position: relative;
  
  
span{
color: #ffffffcf;
font-size: 18px;
padding-bottom: 30px;
@media (max-width:768px){
  font-size: 9px;

    
}
}
&__img{
  width: 100%;
  img {
    width: 100%;
    @media (max-width:768px){
      width: 100%;
            
    }
    }

}
  &__container{
    position: absolute;
    top: 30%;
    left: 18%;
    border-left: 4px solid variaveis.$cordDosTextos;
    padding-left: 60px;
    width: 700px;
    letter-spacing: 2px;
    @media (max-width:768px){
      top: 10%;
      left: 10%;
      letter-spacing: 1px;
      padding-left: 20px;
      border-left: 2px solid variaveis.$cordDosTextos;

        
    }

    .button {
      font-size: 20px;
      color: variaveis.$cordDosTextos;
      padding: 15px 70px;
      border-radius: 5px;
      text-decoration: none;
      @media (max-width:768px){
        padding: 8px 20px;
        font-size: 12px;

      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.424);
      }
    }
  }

&__title{
font-size: 72px;
color: variaveis.$cordDosTextos;
@media (max-width:768px){
  font-size: 30px;
  padding-bottom: 8px;
        
}

}
&__text{
font-size: 18px;
line-height: 1.7rem;
color: rgba(255, 255, 255, 0.825);
width: 80%;
text-align: justify;
margin-bottom: 40px;
@media (max-width:768px){
  width: 35%;
  font-size: 9px;
  line-height: .6rem;
  margin-bottom: 25px;
}
}
}


